
<div id="PlaneSpotterMain">
    <div id="divSummery" class="container" data-bind="visible: PlaneSpotterVM.IsPageSummeryVisible()">

        <div class="card mb-3 mt-md-3 mt-md-3 bg-trans">
            <div class="card-header"><h5>Spotted Aircraft Summery</></h5></div>
            <div class="card-body">
                <div class="col-md-12">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Registration</th>
                                <th scope="col">Make</th>
                                <th scope="col">Model</th>
                                <th scope="col">Location</th>
                                <th scope="col">Date</th>
                                <th scope="col" />
                                <th scope="col" />
                            </tr>
                            <tr>
                                <th>
                                    <input id="RegSearchKey" type="text" maxlength="8" data-bind="value: PlaneSpotterVM.AircraftRegFilter,
                               valueUpdate: 'afterkeydown', event:{ keyup: PlaneSpotterVM.FilterAircraftList} ">
                                </th>
                                <th>
                                    <input id="MakeSearchKey" type="text" maxlength="128" data-bind="value: PlaneSpotterVM.AircraftMakeFilter,
                               valueUpdate: 'afterkeydown', event:{ keyup: PlaneSpotterVM.FilterAircraftList} ">
                                </th>
                                <th>
                                    <input id="ModelSearchKey" type="text" maxlength="128" data-bind="value: PlaneSpotterVM.AircraftModelFilter,
                               valueUpdate: 'afterkeydown', event:{ keyup: PlaneSpotterVM.FilterAircraftList} ">
                                </th>
                                <th></th>
                                <th></th>
                                <th />
                                <th />
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: PlaneSpotterVM.FilteredSpottedPlanes">
                            <tr>
                                <td data-bind="text:AircraftRegistration"></td>
                                <td data-bind="text:AircraftMake"></td>
                                <td data-bind="text:AircraftModel"></td>
                                <td data-bind="text:Location"></td>
                                <td data-bind="text: moment(SpottedDateTime).format('YYYY-MM-DD HH:mm')"></td>
                                <td><a href='#' data-bind="event:{click:PlaneSpotterVM.EditSpottingInfo}">Edit</a></td>
                                <td><a href='#' data-bind="event:{click:PlaneSpotterVM.DeleteSpottedAircraftDetails}">Delete</a></td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12">
                    <button type="button" class="btn btn-dark" data-bind="event:{click: PlaneSpotterVM.AddNewSpottingInfo}">I saw a Plane</button>
                </div>
            </div>
        </div>
    </div>
    <div id="divDetails" class="container-fluid col-md-8" data-bind="visible: !PlaneSpotterVM.IsPageSummeryVisible()">
        <div class="card mb-3 mt-md-3" style="background-color: rgba(255,255,255, 0.9);">
            <div class="card-header"><h5>Spotted Aircraft Informtion</h5></div>
            <div class="card-body">
                <div class="col-md-12">
                    <form>
                        <div class="form-group row">
                            <label for="inputAircraftMake" class="col-sm-4 col-form-label">Aircraft Make</label>
                            <div class="col-sm-7">
                                <input id="tMake" type="text" class="form-control" maxlength="128" data-bind="textInput:PlaneSpotterVM.AircraftMake" placeholder="Eg : Airbus" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputAircraftModel" class="col-sm-4 col-form-label">Aircraft Model</label>
                            <div class="col-sm-7">
                                <input id="tModel" type="text" class="form-control" maxlength="128" data-bind="textInput:PlaneSpotterVM.AircraftModel" placeholder="Eg : A320-300" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputAircraftRegNo" class="col-sm-4 col-form-label">Registration Number</label>
                            <div class="col-sm-7">
                                <input id="tReg" type="text" class="form-control" maxlength="8" data-bind="textInput:PlaneSpotterVM.AircraftRegistration" placeholder="Eg : 4R-ABR" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputAircraftLocation" class="col-sm-4 col-form-label">Location</label>
                            <div class="col-sm-7">
                                <input id="tLocation" type="text" class="form-control" maxlength="255" data-bind="textInput:PlaneSpotterVM.Location" placeholder="Eg : Colombo" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputAircraftDateTime" class="col-sm-4 col-form-label">Date and Time</label>
                            <div class="col-sm-7">
                                <input id="tTime" class="form-control" type="datetime-local" data-bind="value:PlaneSpotterVM.SpottedDateTime" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputAircraftImage" class="col-sm-4 col-form-label">Image</label>
                            <div class="col-sm-7">
                                <img class="spottedImage" data-bind="attr: {src: PlaneSpotterVM.SpotAircraftImage() || 'Images/no_image_available.png'}" />
                                <input data-bind="event: {change: PlaneSpotterVM.UploadSpottedImage}" type="file" accept="image/*" class="fileChooser" />
                            </div>

                        </div>

                        <div class="alert alert-warning" role="alert" data-bind="visible: !PlaneSpotterVM.ValidationSuccess()">
                            <span data-bind="text:PlaneSpotterVM.ValidationMessage"></span>
                        </div>

                    </form>
                </div>

                <div class="col-md-12">
                    <button type="button" class="btn btn-dark" data-bind="event:{click: PlaneSpotterVM.NavigateToHome}">Summery</button>
                    <button type="button" class="btn btn-dark" data-bind="event:{click: PlaneSpotterVM.ResetForm}">Reset</button>
                    <button type="button" class="btn btn-dark" data-bind="event:{click: PlaneSpotterVM.ClickSaveSpottedAircraftDetails}">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script type="text/javascript">
        var vwModel = '@Html.Raw(Json.Encode(Model))';
    </script>

    <script src="~/Scripts/app/PlaneSpotter/PlaneSpotter.js"></script>
}
