body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
    position: relative;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.bg-image {
    background-image: url('../Images/bg_image.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-trans {
    background-color: rgba(255,255,255, 0.9);
}

.card-body {
    overflow: auto;
}

.bg-theme {
    background-color: #174866;
}


.spottedImage {
    width: inherit;
    height: inherit;
}